[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
prompt              = no
req_extensions      = req_ext

[ req_distinguished_name ]
CN = web.prod.example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = web.prod.example.com
